.loading-indicator {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}

.loading-indicator-text {
  margin: 10px 0;
}
