<div class="po-row">
  <po-info
    class="po-sm-12"
    p-label="Matrícula"
    i18n-p-label="Rótulo 'Matrícula' nos detalhes de alunos"
    [p-value]="aluno.matricula"
  ></po-info>
</div>
<po-divider></po-divider>
<div class="po-row">
  <po-info
    class="po-md-6 po-sm-12"
    p-label="Nome"
    i18n-p-label="Rótulo 'Nome' nos detalhes de alunos"
    [p-value]="aluno.nome"
  ></po-info>
  <po-info
    class="po-md-6 po-sm-12"
    p-label="E-mail"
    i18n-p-label="Rótulo 'E-mail' nos detalhes de alunos"
    [p-value]="aluno.email"
  ></po-info>
</div>
<po-divider></po-divider>
<div class="po-row">
  <po-info
    class="po-md-6 po-sm-12"
    p-label="CPF"
    i18n-p-label="Rótulo 'CPF' nos detalhes de alunos"
    [p-value]="aluno.cpfFormatado"
  ></po-info>
  <po-info
    class="po-md-6 po-sm-12"
    p-label="Forma de ingresso"
    i18n-p-label="Rótulo 'Forma de ingresso' nos detalhes de alunos"
    [p-value]="aluno.formaIngresso"
  ></po-info>
</div>
