<po-modal
  #modelRef
  [p-click-out]="false"
  [p-hide-close]="true"
  [p-primary-action]="actions.salvar"
  [p-secondary-action]="actions.cancelar"
  p-size="auto"
  p-title="Formulário de aluno"
  i18n-p-title="
    Título do formulário de cadastro ou edição dos dados de um aluno
  "
>
  <app-aluno-form
    #formRef
    [aluno]="aluno"
    [disabled]="loading || processando"
    (formSubmit)="salvar()"
  ></app-aluno-form>
  <app-loading-indicator
    [loading]="loading"
    i18n-text="
      Texto 'Carregando...' que aparece na janela de formulário de aluno quando
      os dados de um aluno existente estão sendo carregados
    "
    text="Carregando..."
  ></app-loading-indicator>
</po-modal>
