<po-page-list
  *ngIf="pageState$ | async as pageState"
  p-title="Professores cadastrados"
  i18n-p-title="Título da página 'Professores cadastrados'"
  [p-filter]="filtro"
  [p-actions]="acoes"
>
  <app-professor-list
    [professores]="pageState.items"
    [podeCarregarMais]="pageState.hasNext"
    [carregando]="pageState.loading"
    [(ordenar)]="pageState.sort"
    (ordenarChange)="handleOrdenacaoChange($event)"
    (carregarMais)="handleCarregarMais()"
    (editar)="handleEditarClick($event)"
  ></app-professor-list>
</po-page-list>
<router-outlet></router-outlet>
